---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"a"> & {
	href: string;
};

const { target, rel, ...rest } = Astro.props;
---

<a target={target} rel={target === '_blank' && rel == null ? 'noopener noreferrer' : rel} {...rest}><slot /></a>
