---
import { Head, Props as HeadProps } from '../../functional/Head';

export type Props = HeadProps;
---

<html lang="en" class="text-cure-black">
  <head>
    <Head {...Astro.props} />
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
