---
import { Container } from '../components/layouts/Container';
import Spacing from '../components/layouts/Spacing/Spacing.astro';
import { Link } from '../components/navitation/Link';
import { Common as Template } from '../components/templates/Common';
import { Text } from '../components/typography/Text';
---

<Template title="hi">
  <Container>
    <Text as="h1" class="text-2xl">cure-tmk</Text>

    <Spacing class="mb-4" />

    <Text as="h2" class="text-xl">About</Text>
    <Text as="p">
      Hi, my name is Tomoki. Welcome to my corner of the Internet. I&apos;m a frontend web engineer based in Tokyo. I
      focus on creating elegant, performant, and accessible digital experiences for both users and developers.
    </Text>

    <Spacing class="mb-4" />

    <Text as="h2" class="text-xl">Resume</Text>
    <ol>
      <li>
        Full-time Web Developer at CyberAgent Inc. since 2019. Worked on:
        <ul>
          <li>
            <Link href="https://www.winticket.jp" target="_blank">WinTicket</Link> (Online Betting Service for Keirin (Cycle
            Race))
          </li>
          <li>
            <Link href="https://ameblo.jp/" target="_blank">Ameba Blog</Link> (Japan&apos;s Largest Blog Service)
          </li>
        </ul>
      </li>
      <li>Graduated Doshisha Univ. (2019)</li>
      <li>
        Worked full-stack on <Link href="https://plus.pixta.co.jp/entry/2020/12/28/120000" target="_blank">
          mecelo.co.jp
        </Link> (2018-2019)
      </li>
    </ol>

    <div class="mb-2"></div>

    <Text as="h3" class="text-lg">Experienced in:</Text>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>TypeScript</li>
      <li>React</li>
      <li>Next.js</li>
      <li>Node.js</li>
      <li>and more</li>
    </ul>

    <Spacing class="mb-4" />

    <Text as="h2" class="text-xl">Contacts</Text>
    <p>
      I am always open to discussing new projects, ideas or opportunities to be a part of your vision. Please contact me
      via email or Twitter DM.
    </p>

    <div class="mb-2"></div>

    <ul>
      <li>Twitter: <Link href="https://twitter.com/cure_tmk" target="_blank">@cure_tmk</Link></li>
      <li>
        Instagram: <Link href="https://www.instagram.com/cure_tmk" target="_blank">@cure_tmk</Link>
      </li>
      <li>GitHub: <Link href="https://github.com/cure-tmk" target="_blank">@cure_tmk</Link></li>
      <li>
        Facebook: <Link href="https://www.facebook.com/cure.tmk" target="_blank">Tomoki Kano</Link>
      </li>
      <li>
        Email: <Link href="mailto:kano_tomoki@cyberagent.co.jp" target="_blank">kano_tomoki@cyberagent.co.jp</Link>
      </li>
    </ul>
  </Container>
</Template>
