---
export type Props = Record<string, never>;

const year = new Date().getFullYear();
---

<footer class="flex justify-center p-2 pb-[calc(env(safe-area-inset-bottom)+2rem)]">
  <p class="text-center text-sm lg:text-xs">© {year} cure-tmk</p>
</footer>
