---
import type { HTMLAttributes } from "astro/types";
import { type StyleValue, normalizeStyleValue } from "../../utils/StyleUtils";

export type Props = HTMLAttributes<"svg"> & {
	title?: string;
	size?: StyleValue;
};

const { title: rawTitle, size: rawSize, ...rest } = Astro.props;

const size = normalizeStyleValue(rawSize) ?? "24px";
const title = rawTitle ?? "AT Protocol";
---

<svg width={size} height={size} viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" {...rest}>
  <title>{title}</title>
  <path
    d="M12 5.8125C8.58398 5.8125 5.8125 8.58398 5.8125 12C5.8125 15.416 8.58398 18.1875 12 18.1875C12.5704 18.1875 13.0312 18.6483 13.0312 19.2188C13.0312 19.7892 12.5704 20.25 12 20.25C7.44316 20.25 3.75 16.5568 3.75 12C3.75 7.44316 7.44316 3.75 12 3.75C16.5568 3.75 20.25 7.44316 20.25 12V13.0312C20.25 14.7393 18.8643 16.125 17.1562 16.125C16.212 16.125 15.3645 15.6996 14.7973 15.0325C14.0625 15.7093 13.0796 16.125 12 16.125C9.72158 16.125 7.875 14.2784 7.875 12C7.875 9.72158 9.72158 7.875 12 7.875C12.8991 7.875 13.7306 8.16182 14.4073 8.65166C14.591 8.49053 14.8295 8.39062 15.0938 8.39062C15.6642 8.39062 16.125 8.85146 16.125 9.42188V12V13.0312C16.125 13.6017 16.5858 14.0625 17.1562 14.0625C17.7267 14.0625 18.1875 13.6017 18.1875 13.0312V12C18.1875 8.58398 15.416 5.8125 12 5.8125ZM14.0625 12C14.0625 11.453 13.8452 10.9284 13.4584 10.5416C13.0716 10.1548 12.547 9.9375 12 9.9375C11.453 9.9375 10.9284 10.1548 10.5416 10.5416C10.1548 10.9284 9.9375 11.453 9.9375 12C9.9375 12.547 10.1548 13.0716 10.5416 13.4584C10.9284 13.8452 11.453 14.0625 12 14.0625C12.547 14.0625 13.0716 13.8452 13.4584 13.4584C13.8452 13.0716 14.0625 12.547 14.0625 12Z"
    fill="currentcolor"></path>
</svg>
